:root {
  --TablePartsColor: rgb(38, 61, 84);
  --BorderColor: gray;
  --componentFontColor: white;
  --BlackFont: black;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1f8db1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #b4a9ff;
  /*background: linear-gradient(to right, #b1a2ff, #d2c2ff, #d2c2ff, #c4b8ff, #d2c2ff, #d2c2ff, #b1a2ff);*/
  color: var(--BlackFont);
  text-align: center;
  font-size: xxx-large;
  font-family: 'Pacaembu-Bold';
  margin: 0%;
}
.animated-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Ensure no unwanted margin or padding */
}
/*.firstdiv {
  background-image: url('./assets/blurry-gradient-haikei.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/

@font-face {
  font-family: 'Pacaembu-Bold';
  src: url('assets/Fonts/Poppins-Bold.ttf') format('opentype');
}

.rotated-text {
  transform: rotate(-90deg);
}

table {
  border: 10px solid var(--TablePartsColor);
  border-radius: 10px;
  align-self: center;
  margin-top: 3.5%;
}

.cube {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--componentFontColor);
  border-radius: 10px;
}

.front {
  background-color: var(--TablePartsColor);
  /*354   364*/
  transform: rotateY(0deg);
}

.back {
  background-color: var(--TablePartsColor);
  transform: rotateY(180deg);
}

.cube.flip {
  transform: rotateY(180deg);
}

main {
  display: flex;
}

.para1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.para2 {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.para3 {
  font-size: 40%;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 2px 10px;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea {
  width: 95%;
  align-self: center;
  height: 60px;
  padding: 5px;
  border-radius: 10px;
  border: 2px var(--BorderColor) solid;
  font-family: 'Pacaembu-Bold';
  resize: none;
}

input {
  width: 25%;
  align-self: center;
  margin: 3%;
  height: 40px !important;
  padding-left: 5px;
  border-radius: 10px;
  border: 2px var(--BorderColor) solid;
  font-family: 'Pacaembu-Bold';
}

button {
  align-self: center;
  margin: 3%;
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px var(--BorderColor) solid;
  background-color: #4681f4;
  color: var(--componentFontColor);
  transition: background-color 0.3s;
  font-family: 'Pacaembu-Bold';
  letter-spacing: 1.5px;
  /* Adjust the value as needed */
}

button:hover {
  cursor: pointer;
  background-color: #55c2da;
  color: var(--BlackFont);

}

#CipherText {
  margin-bottom: 8%;
  display: inline;
}


@media (min-width: 700px) {
  .AppDiv section {
    flex-direction: row;
  }

  .maindiv section div {
    margin: auto;
    width: 50%;
  }

  .maindiv section {
    flex-direction: row;
  }

  main {
    flex-direction: row;
  }

  h6 {
    margin: 3% 0;
  }

  .para2 {
    width: 60%;
  }

  body {
    padding: 0% 5%;
  }
}

@media (max-width: 700px) {
  .AppDiv section article {
    display: none;
  }

  .AppDiv section {
    flex-direction: column;
  }

  .scroll-down2 {
    margin-left: 10%;
  }

  .maindiv section div {
    margin-top: 10%;
    width: 100%;
  }

  .maindiv section {
    flex-direction: column;
  }

  .headerdiv {
    margin-left: 5%;
  }

  main {
    flex-direction: column;
  }

  h6 {
    margin: 10%;
  }

  input {
    width: 50%;
  }

  .para3 {
    text-align: left !important;
  }

  .para2 {
    width: 80%;
  }

  #CipherText {
    margin-right: 2%;
  }
}

.scroll-down-container {
  margin-top: 0px;
  position: relative;
  height: 100;
  justify-content: center;
  align-items: center;
  display: none;
  /* Initially hidden */
}

.scroll-down {
  text-decoration: none;
  font-size: 0.7em;
  color: #333;
  animation: bounce 2s infinite;
}

.scroll-down2 {
  text-align: center;
  margin-top: 100px;
  font-size: 0.7em;
  color: #333;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

#CipherText p {
  font-size: x-large;
  cursor: pointer;
  display: inline-flex;
  margin: 0 2px;
}

#VigenereCipherText p {
  font-size: x-large;
  cursor: pointer;
  display: inline-flex;
  margin: 0 2px;
}

.card {
  background-color: #797dd6;
  border: 1px solid var(--componentFontColor);
  border-radius: 10px;
  padding: 4% 0%;
  text-align: center;
  font-size: x-large;
  margin: 2%;
  width: 50%;
}

a {
  text-decoration: none;
  color: var(--BlackFont)
}

a:hover {
  color: skyblue;
  cursor: pointer;
}

.AppDiv {
  width: 100%;
}

.maindiv {
  width: 92vw;
  height: 90vh;
  margin-left: 0px;
}

.maindiv section {
  display: flex;
  justify-content: space-evenly;
}

.maindiv section img {
  width: 80%;
  animation: moveUpDown 5s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
    /* Start position */
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    /* Initial shadow */
  }

  50% {
    transform: translateY(-10px);
    /* Move up */
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.3));
    /* Shadow becomes larger */
  }

  100% {
    transform: translateY(0);
    /* Return to start position */
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    /* Shadow returns to initial size */
  }
}

.headerdiv {
  display: inline-flex;
  width: 100%;
  gap: 10px;
  margin-top: -3%;
}

.headerdiv img {
  max-width: 50px;
  max-height: 50px;
  place-self: center;
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.3))
}

.headerdiv p {
  place-content: center;
}

.AppDiv section {
  display: flex;
  justify-content: space-around;
}

.AppDiv section div {
  margin: auto;
}


article {
  font-size: large;
  text-align: left;
  margin-left: 3%;
}

footer {
  font-size: medium;
}

#tryagain {
  display: none;
}
